body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.home-main-container {
    background-image: url(qcu-img-1.jpg);
    background-position: center;
    background-size: cover;
    overflow-y: hidden;
    width: 100%;
    height: 100vh;    /*  ITO PINALITAN KO, DI NA SYA 100*/
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "nav"
        "screenn";
}


#home-screen-container  {
    margin: 0px;
    display: grid;
    grid-area: screenn;
    overflow-y  : hidden ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 1fr;
    grid-template-areas: 
        "desc img"
        "explore img";
}

#home-description {
    background-color: rgba(255, 255, 255, 0.8);
    grid-area: desc;
    position: relative;
    height: 470px;
}

#home-explore p{
    font-weight: bold ;
    font-size: 32px;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    left: 35px;
    top: -20px;
}

#name p {
    color: #000000;
}


#name {
    position: relative;
    top: 5%;
    margin: 0 5%;
    font-weight: bold ;
    font-size: 72px;
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#description {
    color: #000000;
    position: relative;
    top: 6%;
    text-align: justify;
    margin: 2% 5%;
    padding: 1%;
    overflow: auto; 
    font-size: 19px;
    line-height: 170%;
    font-family: "Fredoka", sans-serif;
}

#home-image {
    grid-area: img;
} 

#home-explore {
    background-color: #fff;
    z-index: 1;
    grid-area: explore;
}



.home-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.3rem;
    list-style: none;
    position:relative;
    right: -5px;
    justify-content: center;
    align-items: center;
    bottom: 30px;
}

.home-box {
    width: calc(50% - 13%);
    box-sizing: border-box;
    display: flex;
    white-space: nowrap;
    padding: 1px; 
    text-align: justify;
    text-align: center;
    align-items: center;
}

.home-box {
    font-weight: bold ;
    font-size: 19px;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.home-maps {
    border: 1px solid #000000;
    width: 15%;
    padding: 1.2%;
    margin: -6% 78.5%;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #fff;
    border-radius: 15px;
    font-size: 19px;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    bottom: 10px;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s;
}

.home-maps:hover {
    transform: scale(1.05);
}

a {
    list-style: none;
    text-decoration: none;
    color: #000000;
}30

.fa-mug-hot, .fa-utensils, .fa-print, .fa-store {
    font-size: 32px;
}


@media only screen and (max-width: 808px) {
    .home-main-container {
        grid-template-rows: auto 1fr;
        height: 1150px;
        width: auto;
        background-image: none;
        overflow-x: hidden;

    }
    
    #home-screen-container  {
        background-color: rgba(255, 255, 255, 0.6);
        grid-template-columns: auto;
        grid-template-rows: 15fr 18fr 25fr;
        grid-template-areas: 
            "img"
            "desc"
            "explore";
    }
   
    #home-image {
        width: auto;
        grid-area: img;
        background-image: url(qcu-img-1.jpg);
        background-size: cover;
        background-position: center; 
    }

    #home-description {
        grid-area: desc;
        overflow-y: hidden;
        height: 525px;
        display: block;
    }

    #home-explore {
        height: 400px;
        grid-area: explore;
        position: relative;
        top: -15px;
        background-image: url(qcu-img-1.jpg);
        background-size: cover;
        background-position: center;
        overflow: hidden;
        box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.6);


    }

    .home-maps {
        position: relative;
        top: -8px;
        right: 10px;
        font-size: 15px;
    }
    
    br {
        display: none;
    }

    #name {
        text-align: center;
        font-size: 50px;
        
    }

    #description {
        font-size: 17px;
        position: relative;
        top: 50px;
        margin: 1% 10%;
    }

    .home-maps a {
        position: relative;
        top: 20px;
    }
    .home-list {
        position: relative;
         right: 30px;
    }   
    .home-box {
        width: calc(55% - 13%);
        font-size: 14px;
    }

    #screen-container {
        width: 100%;
        height: 500px; /* Subtracting the height of nav-container */
        overflow-y: hidden; /* Hide overflow content */
    }

    iframe {
        width: 100%;
        height: 1000px;
        border: none;
    }

    .fa-mug-hot, .fa-utensils, .fa-print, .fa-store {
        font-size: 25px;
    }
}
