body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#map-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
}


/* 0 */
#detail-box {
    width: 55.5vw;
    height: 72vh;
    z-index: 1;
    position: absolute;
    box-shadow: 7px 0 40px 40px rgba(0, 0, 0, 0.3); /* Spread radius of 5px */
    top: 11%;
    left: 20%;
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "img details";
}



/* 1 */
#img-container {
    background-color: #e17f10;
    grid-area: img;
    width: 72vh;
    height: 72vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
#details-container {
    background-color: #FFDDB7;
    grid-area: details;
    width: 25vw;
    height: 72vh;
    padding: 0 1% 0 5%;
    font-family: "Fredoka", sans-serif;
    margin-left: -1px;
}

/* 2 */
#details-X, #img-X {
    width: 23px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0.5%;
    top: 0.5%;
    position: absolute;
    z-index: 3;
    font-size: 120%;
    font-family: "Fredoka", sans-serif;
}

#img-X {
    position: relative;
    left: 47%;
    top: -47%;
    z-index: 3;
    display: none;
    color: #FFDDB7 !important;
    background-color: transparent;

    /* Increase width since half will be hidden behind the text */
    -webkit-text-stroke: 6px #e17f10; 
    paint-order: stroke fill;
}


#shop-img {
    width: 100%; /* Make the image fill the width of the container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure proper spacing */
    margin: auto; /* Center the image */
}

#details-X:hover, #img-X:hover {
    cursor: pointer;
    font-weight: 600;
    color: white;
}

#shop-name {
    font-size: 230%;
    position: relative;
    margin: 5% 3% 1% 7%; 
    font-weight: 600;
}
#shop-data {
    font-size: 130%;
    position: relative;
    left: -5%;
    list-style: none;
    margin: 0;
}

/* 3 */
#shop-data li {
    margin-top: 9%;
}
.label {
    font-size: 70%;
    line-height: 120%;
    font-weight: 550;
}
ul li .data {
    font-size: 140%;
    font-weight: 350;
}

@media only screen and (max-width: 768px) {
    #detail-box {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "img"
            "details";
        width: 35vh;
        height: 73vh;
        top: 30%;
        left: 0;
        margin-left: 0;
        margin-top: 22%;
        box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.3);
        position: relative;
        bottom: 5%;
        
    }
    #img-container {
        width: 35vh;
        height: 35vh;
        top: 0;
        position: absolute;
    }
      #shop-img {
        margin:0;
        position: absolute;
        right: 0;
      }
    #details-container {
        position: relative;
        width: 35vh;
        height: 38vh;
        margin: 0;
        padding: 0;
        top: 0;
        overflow-y: auto;
    }
    #img-X {
        display: flex;
        left: 44%;
        top: -44%;
      color: #FFDDB7;
      font-weight: 700;
      font-size: 150%;
    }
    #details-X {
        display: none;
    }
    #shop-name {
        font-size: 150%;
        position: relative;
        margin: 6% 5% 4% 7%; 
    }
    #shop-data {
        font-size: 90%;
        top: -1%;
        left: -7%;
        margin-left: 0;
    }
    #shop-data li {
        margin-top: 5%;
    }
    .label {
        font-size: 80%;
        line-height: 120%;
    }

}
